html {
  font-size: 100%;
  background-color: #16405bff;
  color: #ffffff;
  font-family: Calibri, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16pt;
}

header {
  font-size: 22pt;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

#logo {
  padding-bottom: 25px;
  height: auto;
  width: auto;
}

.productsgrid {
  max-width: auto;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  display: grid;
  grid-template-columns: 20% 40% 40%;
  grid-gap: 1px;
  align-items: center;
  justify-content: start;
 }

 .product {
   background-color: #16405bff;
   color: #ffffff;
 }

 .product a {
   color: #ffffff;
   text-decoration: none;
   font-size: 18pt;
 }

 .product a:hover {
   color: pink;
   font-size: 24pt;
   text-shadow: 1px 1px 2px black;
 }

 .productheader {
   grid-column-start: 2;
   grid-column-end: 4;
 }

 .nav {
   background-color: #16405bff;
   color: #ffffff;
   text-align: left;
   align-self: center;
   grid-row-start: 1;
   grid-row-end: 4;
}

nav ul {
  list-style: none;
}

nav ul li {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 18pt;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18pt;
}

.nav a:hover {
  color: pink;
  font-size: 24pt;
  text-shadow: 1px 1px 2px black;
}

.breadcrumb ul {
    display: flex;
    padding-bottom: 25px;
    font-size: 12pt;
}

.breadcrumb li:before {
    content: ">";
}

.breadcrumb li:first-child::before {
    content: "";
}

.ProdTables {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.tabletitle {
  font-weight: bold;
  font-size: 22pt;
  text-align: left;
}

th, td {
  padding: 10px 10px 10px 10px;
  font-weight: bold;
  font-size: 14pt;
}

#RoseType {
  font-family: Calibri;
  font-size: 11pt;
}

#RoseSize {
  font-family: Calibri;
  font-size: 11pt;
}

#roses {
  width: 500px;
  height: 400px;
}

#LanternType {
  font-family: Calibri;
  font-size: 11pt;
}

#LanternSize {
  font-family: Calibri;
  font-size: 11pt;
}

.basic-form input {
  font-family: Calibri;
  font-size: 11pt;
  font-weight: bold;
  width: 250px;
  height: 50px;
  border: 2px solid white;
}

footer {
  height: 9rem;
  line-height: 24px;
  font-size: 12pt;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 1.5px;
  border-top: 3px solid white;
}
