html {
  font-size: 100%;
  background-color: #16405bff;
  color: #ffffff;
  font-family: Calibri, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16pt;
}

header {
  font-size: 22pt;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

#logo {
  padding-bottom: 25px;
  height: auto;
  width: auto;
}

nav h2 {
  margin: 1rem 1rem 1rem 1rem;
  text-align: left;
}

nav ul {
  display: block;
  float: left;
  width: 150px;
  position: relative;
  list-style: none;
}

nav ul li {
  padding: 1em 1em 1em 1em;
  font-weight: bold;
  font-size: 18pt;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: auto;
  gap: 10px;
}

.wrapper {
  margin: 1rem 1rem 1rem 1rem;
  text-align: center;
}

.wrapper a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18pt;
}

.wrapper a:hover {
  color: pink;
  font-size: 24pt;
  text-shadow: 1px 1px 2px black;
}

#main_section img {
  border-radius: 20px;
}

.breadcrumb ul {
    display: flex;
    padding-bottom: 25px;
    font-size: 12pt;
}

.breadcrumb li::before {
    content: ">";
}

.breadcrumb li:first-child::before {
    content: "";
}

table {
    border-collapse: collapse;
    width: 60%;
}

.tabletitle {
  font-weight: bold;
  font-size: 22pt;
  text-align: left;
}

th, td {
  padding: 10px 10px 10px 10px;
  font-weight: bold;
  font-size: 14pt;
}

.headerrow td {
  border: 1px solid;
  text-align: center;
  padding: 5px 5px 5px 5px;
  text-shadow: 1px 1px 2px black;
}

.rowhover {
    text-align: center;
}

.rowhover:hover {
    color: pink;
    font-size: 18pt;
    text-shadow: 1px 1px 2px black;
}

#roses {
  width: 400px;
  height: 300px;
}

footer {
  height: 9rem;
  line-height: 24px;
  font-size: 12pt;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 1.5px;
  border-top: 3px solid white;
}
